{% extends 'jinn/minima.jinja'%}

{% block head %}
<link rel="stylesheet" href="assets/simple_site.css">
{% endblock %}

{% block body%}
<nav>
    <ul>
        {% for item in nav %}
        <li {% if item.href is eq(url) %}class="active"{% endif %}>
            <a href="{{ item.href }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
<article>
    {{ content }}
</article>
{% endblock %}